<button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="notificationMenu" (click)="readNotification()">
  <mat-icon matBadge="{{ notifyCount }}" matBadgeColor="accent" matBadgePosition="after">notifications</mat-icon>
</button>

<mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" overlapTrigger="false">
  <a mat-menu-item *ngFor="let notify of notifications">
    <span>[{{ notify.createdAt | date: 'short' }}] <i>{{ notify.message }}</i></span>
  </a>
</mat-menu>
